

.about-bridge-text-area {
  width: 50%;
  line-height: 2;
  font-size: 18px;
  margin: auto;
  text-align: left;
  font-family: 'Cuprum', "sans-serif", sans-serif;
  // font-family: 'Cuprum', sans-serif;
  // text-indent: 25px;
};

.about-bridge-text-header {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

.about-bridge-sensor {
  background-image: linear-gradient(140deg,rgba(0,72,114,0.27) 0%,rgba(41,17,96,0.55) 100%);
  background-color: rgba(0,0,0,0);
  height: 350px;
  display: flex;
}

.about-bridge-image-text {
  text-align: center;
  margin: auto;
  font-size: 45px;
  color: white;
  width: 30%;
  line-height: 1.5;
  font-family: 'Cuprum', "sans-serif", sans-serif;
}

@media (max-width: 800px) {
  .about-bridge-text-area {
    width: 70%;
  }
}

.product-button {
  width: 19vw;
  height: 140px;
  background-color: #FFA727;
  border-radius: 0%;
}

.product-button-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 8%;
}

.large-screen-product-button-display {
  display: unset;
}

@media (max-width: 800px) {
  .large-screen-product-button-display {
    display: none;
  }
}


.small-screen-product-button-display {
  display: none;
}

@media (max-width: 800px) {
  .small-screen-product-button-display {
    display: unset;
  }
}


.product-button-wrapper-small-screen {
  display: flex;
  flex-direction: column;
}

.product-button-small-screen {
  width: 80vw;
  height: 75px;
  margin: 15px auto;
}
