<app-header></app-header>
<div class = "about-bridge-sensor"><h1 class = "about-bridge-image-text">About Bridge Technology</h1></div>
<div class = "about-bridge-text-area">
  <h1 class = "about-bridge-text-header">Building Custom Solutions Since 1995</h1>
  <p style = "text-indent: 45px;">
    Bridge Technology Inc, is the industry innovator in people counting and the company chosen by the busiest airports in the world to increase efficiency in multiple areas. Every airport is unique and every client needs a system tailored to solve their specific challenges and problems. As a high tech systems integrator, we harness state of the art technology to build your custom solution. We collaborate with strategic partners from the physical framework to the software integration no two implementations are the same.

    <br><br>
    bCounted, our signature product, is trusted by even the most rigid guidelines of the Airport Industry not only in the USA but worldwide.

    <br><br>
    Our custom solutions are used by airports, shuttle systems, restroom managers, and more.
  </p>
</div>
<app-footer></app-footer>
