
<!--

<div class = "header">
  <mat-toolbar class = "header-toolbar" color="primary">
    <mat-toolbar-row class = "top-toolbar">
      <div class = "top-header-container">
        <div class = "top-header">
          <a routerLink = "" style = "padding-top: 15px">
            <img src = "https://www.keysight.com/content/dam/keysight/en/img/gnav/keysight-logo.svg">
          </a>
          <span class="example-spacer"></span>
          <div style = "margin: auto">
              <span class = "contact-us-wrapper"><a href = "#" style = "margin: 0; padding:0; font-size: 13px">Contact Us</a></span>
            <span> | </span>
            <span>
              <button mat-icon-button class="search-icon">
                <mat-icon>search</mat-icon>
              </button>
            </span>
          </div>
        </div>
      </div>
    </mat-toolbar-row>


    <mat-toolbar-row class = "secondary-toolbar">
      <div class = "menu-items">
        <ul class = "ul-menu">
          <li><a routerLink = "">Home</a></li>
          <li>
            <a mat-button [matMenuTriggerFor]="menu" class = "drop-down" style = "line-height: initial; color: black">Solutions</a>
            <mat-menu #menu="matMenu" class = 'customMatMenu'>
              <button class = 'drop-down-menu-item' mat-menu-item>bCounted APM</button>
              <button class = 'drop-down-menu-item' mat-menu-item>bCounted APC</button>
              <button class = 'drop-down-menu-item' mat-menu-item>GoCleanMe</button>
              <button class = 'drop-down-menu-item' mat-menu-item>Exit Lane Security</button>
              <button class = 'drop-down-menu-item' mat-menu-item>Smart Trash Bin</button>

            </mat-menu>
          </li>
          <li><a href = "#">Benefits & Solutions</a></li>
          <li><a routerLink = '/about-bridge-technology'>About Bridge Technology</a></li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
  -->

  <!-- <p> -->
  <div (mouseenter)="this.isDropDown = false;" (mouseleave) = "this.isDropDown = false;" style = "overflow: hidden;">
    <mat-toolbar style = "display: flex; flex-direction: row; height: 125px; background-color: #FFFFFF">
      <div class = "left-header-wrapper" (mouseenter)="this.isDropDown = false;">
        <a routerLink="" class = "img-link">
          <img src = "../../../assets/BridgeTech-Logo.png" class = "header-img" >
        </a>
      </div>
      <div style ="width: 50%;">
        <div class = "right-header-xl">
          <button mat-flat-button (mouseenter)="this.isDropDown = true;" class = "header-button header-button-margin" style = "height: 100%" disableRipple="true">Our Automated Solutions <mat-icon style = "transform: scale(0.75)">keyboard_arrow_down</mat-icon></button>
          <!-- <button>Our Automated Solutions</button> -->
          <button mat-flat-button (mouseenter)="this.isDropDown = false;" class = "header-button header-button-margin" style = "height: 100%" disableRipple="true">About Us</button>
          <button mat-raised-button (mouseenter)="this.isDropDown = false;" color="primary" class = "header-button">Contact Us</button>
        </div>
      </div>
      <div class = "right-header-xs">
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon style = "transform: scale(1.75);">menu</mat-icon></button>
          <mat-menu #menu="matMenu" class = 'customMatMenu'>
            <button mat-menu-item [matMenuTriggerFor]="solutions">Solutions</button>
            <button mat-menu-item>About Us</button>
            <button mat-menu-item>Contact Us</button>
          </mat-menu>
          <mat-menu #solutions="matMenu" class = 'customMatMenu'>
            <button class = 'drop-down-menu-item' mat-menu-item>bCounted APM</button>
            <button class = 'drop-down-menu-item' mat-menu-item>bCounted APC</button>
            <button class = 'drop-down-menu-item' mat-menu-item>GoCleanMe</button>
            <button class = 'drop-down-menu-item' mat-menu-item>Exit Lane Security</button>
            <button class = 'drop-down-menu-item' mat-menu-item>Smart Trash Bin</button>
          </mat-menu>
      </div>
     <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->

  </mat-toolbar>
  <!-- </p> -->
<div [ngClass]="this.isDropDown ? 'secondary-drop-down' : 'secondary-drop-down-hidden'" (mouseenter)="this.isDropDown = true">
  <button mat-raised-button class = "header-drop-down-button"><img class = "button-img" src = "../../../assets/stickFigures/BridgeTech-Icon-APM.png"><br><p class = "button-paragraph"><span class = "button-span">bCounted APM</span> <br><span class = "button-span-second">Automatic People Mover</span></p></button>
  <button mat-raised-button class = "header-drop-down-button"><img class = "button-img" src = "../../../assets/stickFigures/BridgeTech-Icon-APC.png" style = "width: 41px"><br><p class = "button-paragraph"><span class = "button-span">bCounted APC</span> <br><span class = "button-span-second">Automatic Passenger Counter</span></p></button>
  <button mat-raised-button class = "header-drop-down-button"><img class = "button-img" src = "../../../assets/stickFigures/BridgeTech-Icon-ExitLane.png"  style = "width: 34px"><br><p class = "button-paragraph"><span class = "button-span">Exit Lane Solutions</span> <br><span class = "button-span-second">Exit Lane Monitoring</span></p></button>
  <button mat-raised-button class = "header-drop-down-button"><img class = "button-img" src = "../../../assets/stickFigures/BridgeTech-Icon-RestroomManagement.png"><br><p class = "button-paragraph"><span class = "button-span">GoCleanMe</span> <br><span class = "button-span-second">Restroom Management</span></p></button>
  <button mat-raised-button class = "header-drop-down-button"><img class = "button-img" src = "../../../assets/stickFigures/BridgeTech-Icon-TrashBin.png"><br><p class = "button-paragraph"><span class = "button-span">Smart Trash Bin</span> <br><span class = "button-span-second">Trash Bin Monitoring</span></p></button>
</div>
  </div>
