<div class='background'>
    <div class = "contact-area">
        <div class = "contact-form">
            <h2 style = "color: white; font-size: 2em; margin-top: 0">Send us a message!</h2>
            <!-- <input type="text" [formControl] = "contactUsFormControl"> -->
            <p style = "color: white">
                <mat-form-field appearance="legacy" class = "contact-input-item">
                <mat-label style = "color: white; font-family: 'Cuprum', sans-serif;">Name</mat-label>
                <input matInput  stlye = "color: white">
                <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </p>
            <p style = "color: white">
                <mat-form-field appearance="legacy" class = "contact-input-item" style = "margin-right: 15px">
                <mat-label style = "color: white; font-family: 'Cuprum', sans-serif;">Email</mat-label>
                <input matInput  stlye = "color: white" type = "email">
                <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
                <mat-form-field appearance="legacy" class = "contact-input-item">
                <mat-label style = "color: white; font-family: 'Cuprum', sans-serif;">Phone</mat-label>
                <input matInput  stlye = "color: white" type = "tel">
                <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </p>
            <p style = "color: white">
                <mat-form-field appearance="legacy" class = "text-area">
                    <mat-label style = "color: white; font-family: 'Cuprum', sans-serif;">Message</mat-label>
                    <textarea matInput style = "color: white"></textarea>
                <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </p>
        </div>
        <div class = "contact-section">
            <div style = "margin-bottom: 20px;"><mat-icon style = "color: #FFA727; vertical-align: middle; margin-right: 25px; margin-bottom: 21px; font-size:35px">location_on</mat-icon><span class = "contact-header">Office</span><p style = "padding-left: 45px; line-height: 2">5232 North 43rd Place <br> Phoenix, AZ. 85018, USA</p></div>
            <div style = "margin-bottom: 20px;"><mat-icon style = "color: #FFA727; vertical-align: middle; margin-right: 25px; margin-bottom: 21px; font-size:35px">email</mat-icon><span class = "contact-header">Email</span><p style = "padding-left: 45px; line-height: 2">ian@bridgetech.net</p></div>
            <div style = "margin-bottom: 20px;"><mat-icon style = "color: #FFA727; vertical-align: middle; margin-right: 25px; margin-bottom: 21px; font-size:35px">local_phone</mat-icon><span class = "contact-header">Call</span><p style = "padding-left: 45px; line-height: 2">(602) 952-2526

            </p></div>
            <!-- <div><mat-icon>email</mat-icon></div>
            <div><mat-icon>local_phone</mat-icon></div> -->
        </div>
    </div>
</div>
<div class = "all-rights-reserved-flag"><p style = "color: #666666; font-size: 12px; padding-top: 6px"><strong>Copyright 2020. Bridge Technology.</strong></p></div>
