<app-header></app-header>
<div class = "page-body">
  <div class = "train-img">
    <img class = "img" src = "../../assets/Train.jpg">
  </div>
  <div class = "bridge-section">
    <img class = 'bridge-section-content' src = "../../assets/bridge.png">
    <h2 class = "bridge-section-content">Industry Innovator in Automatic People Counting</h2>
    <p class = "bridge-section-content"><strong>Creating customized solutions bridging state of the art technologies</strong></p>
    <hr style = "width: 60%; min-width: 450px">
  </div>
  <div class = "bridge-section-flex">
    <div class = "bridge-second-section-content" style = "display: flex"><p style = "width: 75%; margin: auto; line-height: 2"><strong style = "font-size: 25px">Automatic People Moving</strong><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam perferendis autem delectus animi ad dolor dolorum, deleniti quae. Aliquid labore, omnis reprehenderit modi obcaecati quos vero maiores amet quaerat vitae.</p></div>
    <div class = "bridge-second-section-content" style = "overflow: hidden"><img class = "section-img" src = "../../assets/motherboard.jpg"></div>
  </div>
  <div class = "bridge-section-flex-second">
    <div class = "bridge-second-section-content" style = "overflow: hidden"><img class = "section-img" src = "../../assets/serverGuys.jpg"></div>
    <div class = "bridge-second-section-content" style = "display: flex"><p style = "width: 75%; margin: auto; line-height: 2"><strong style = "font-size: 25px">Automatic Passenger Counting</strong><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam perferendis autem delectus animi ad dolor dolorum, deleniti quae. Aliquid labore, omnis reprehenderit modi obcaecati quos vero maiores amet quaerat vitae.</p></div>
  </div>
  <div class = "bridge-section-flex">
    <div class = "bridge-second-section-content" style = "display: flex"><p style = "width: 75%; margin: auto; line-height: 2"><strong style = "font-size: 25px">Exit Lane Monitoring</strong><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam perferendis autem delectus animi ad dolor dolorum, deleniti quae. Aliquid labore, omnis reprehenderit modi obcaecati quos vero maiores amet quaerat vitae.</p></div>
    <div class = "bridge-second-section-content" style = "overflow: hidden"><img class = "section-img" src = "../../assets/breadboard.jpg"></div>
  </div>
  <div class = "placeholder-for-footer"></div>
</div>
